<style>
h1{
	color: blue;
	text-align: right;
	font-family: Georgia, Serif;
	font-size: 1.4 em;	
}

p{
	color: red;
	font-size: 1.6 em;
}

h2{
	border-color: blue;
	text-align: left;
	font-size: 80.0 em;
}

</style>